@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400;600&family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
}

aside,
main,
nav,
section {
  display: block;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

img {
  border: 0;
}

@font-face {
  font-family: webflow-icons;
  src: url('data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBiUAAAC8AAAAYGNtYXDpP+a4AAABHAAAAFxnYXNwAAAAEAAAAXgAAAAIZ2x5ZmhS2XEAAAGAAAADHGhlYWQTFw3HAAAEnAAAADZoaGVhCXYFgQAABNQAAAAkaG10eCe4A1oAAAT4AAAAMGxvY2EDtALGAAAFKAAAABptYXhwABAAPgAABUQAAAAgbmFtZSoCsMsAAAVkAAABznBvc3QAAwAAAAAHNAAAACAAAwP4AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpAwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAQAAAAAwACAACAAQAAQAg5gPpA//9//8AAAAAACDmAOkA//3//wAB/+MaBBcIAAMAAQAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEBIAAAAyADgAAFAAAJAQcJARcDIP5AQAGA/oBAAcABwED+gP6AQAABAOAAAALgA4AABQAAEwEXCQEH4AHAQP6AAYBAAcABwED+gP6AQAAAAwDAAOADQALAAA8AHwAvAAABISIGHQEUFjMhMjY9ATQmByEiBh0BFBYzITI2PQE0JgchIgYdARQWMyEyNj0BNCYDIP3ADRMTDQJADRMTDf3ADRMTDQJADRMTDf3ADRMTDQJADRMTAsATDSANExMNIA0TwBMNIA0TEw0gDRPAEw0gDRMTDSANEwAAAAABAJ0AtAOBApUABQAACQIHCQEDJP7r/upcAXEBcgKU/usBFVz+fAGEAAAAAAL//f+9BAMDwwAEAAkAABcBJwEXAwE3AQdpA5ps/GZsbAOabPxmbEMDmmz8ZmwDmvxmbAOabAAAAgAA/8AEAAPAAB0AOwAABSInLgEnJjU0Nz4BNzYzMTIXHgEXFhUUBw4BBwYjNTI3PgE3NjU0Jy4BJyYjMSIHDgEHBhUUFx4BFxYzAgBqXV6LKCgoKIteXWpqXV6LKCgoKIteXWpVSktvICEhIG9LSlVVSktvICEhIG9LSlVAKCiLXl1qal1eiygoKCiLXl1qal1eiygoZiEgb0tKVVVKS28gISEgb0tKVVVKS28gIQABAAABwAIAA8AAEgAAEzQ3PgE3NjMxFSIHDgEHBhUxIwAoKIteXWpVSktvICFmAcBqXV6LKChmISBvS0pVAAAAAgAA/8AFtgPAADIAOgAAARYXHgEXFhUUBw4BBwYHIxUhIicuAScmNTQ3PgE3NjMxOAExNDc+ATc2MzIXHgEXFhcVATMJATMVMzUEjD83NlAXFxYXTjU1PQL8kz01Nk8XFxcXTzY1PSIjd1BQWlJJSXInJw3+mdv+2/7c25MCUQYcHFg5OUA/ODlXHBwIAhcXTzY1PTw1Nk8XF1tQUHcjIhwcYUNDTgL+3QFt/pOTkwABAAAAAQAAmM7nP18PPPUACwQAAAAAANciZKUAAAAA1yJkpf/9/70FtgPDAAAACAACAAAAAAAAAAEAAAPA/8AAAAW3//3//QW2AAEAAAAAAAAAAAAAAAAAAAAMBAAAAAAAAAAAAAAAAgAAAAQAASAEAADgBAAAwAQAAJ0EAP/9BAAAAAQAAAAFtwAAAAAAAAAKABQAHgAyAEYAjACiAL4BFgE2AY4AAAABAAAADAA8AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADQAAAAEAAAAAAAIABwCWAAEAAAAAAAMADQBIAAEAAAAAAAQADQCrAAEAAAAAAAUACwAnAAEAAAAAAAYADQBvAAEAAAAAAAoAGgDSAAMAAQQJAAEAGgANAAMAAQQJAAIADgCdAAMAAQQJAAMAGgBVAAMAAQQJAAQAGgC4AAMAAQQJAAUAFgAyAAMAAQQJAAYAGgB8AAMAAQQJAAoANADsd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

h1,
h3,
h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}


.w-nav {
  z-index: 1000;
  background: #ddd;
  position: relative;
}

.w-nav:before,
.w-nav:after {
  content: ' ';
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-nav:after {
  clear: both;
}

.w-nav-brand {
  float: left;
  color: #333;
  text-decoration: none;
  position: relative;
}

.w-nav-menu {
  float: right;
  position: relative;
}

.w-nav-menu.is-open {
  display: block !important;
  position: fixed;
  left: 0;
  right: 0;
  top: 92px;
}

.w-nav-button {
  float: right;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 18px;
  font-size: 24px;
  display: none;
  position: relative;
}

.w-nav-button:focus {
  outline: 0;
}

@media screen and (max-width: 991px) {
  .w-nav[data-collapse='medium'] .w-nav-menu {
    display: none;
  }

  .w-nav[data-collapse='medium'] .w-nav-menu.is-visible {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 92px;
    background: white;
    transform: translateY(-50%);
    opacity: 0;
    transition: transform 250ms ease, opacity 250ms ease;
    will-change: transform, opacity;
  }

  .w-nav[data-collapse='medium'] .w-nav-menu.is-visible.is-open {
    transform: translateY(0);
    opacity: 1;
  }

  .w-nav[data-collapse='medium'] .w-nav-button {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}

body {
  color: #333;
  background-color: #161616;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  color: #fff;
  letter-spacing: -0.5px;
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 58px;
  font-weight: 300;
  line-height: 72px;
}

h3 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
}

h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

p {
  color: #a8a8a8;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 26px;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 100%;
  height: 100%;
  max-width: 280px;
  background-color: #1c1c1c;
  border-right: 1px solid #353535;
  padding: 32px;
}

.nav-content {
  width: 100%;
  height: 100%;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  flex-direction: column;
  display: flex;
}

.label-white {
  color: #fff;
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 24px;
}

.label-gray {
  color: #a8a8a8;
  font-size: 14px;
  line-height: 22px;
}

.niv-data {
  align-items: center;
  display: flex;
}

.niv-image {
  width: 48px;
  height: 48px;
  border: 1px solid #353535;
  border-radius: 100px;
  margin-right: 12px;
}

.main {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(28, 28, 28, 0.64), rgba(28, 28, 28, 0.64)), url('./grid-top-right.svg'), linear-gradient(rgba(28, 28, 28, 0.24), rgba(28, 28, 28, 0.24));
  background-position: 0 0, 0 0, 0 0;
  background-size: auto, auto 1130px, auto;
  flex-direction: column;
  align-items: center;
  padding: 46px 48px 82px;
  display: flex;
  overflow: auto;
}

.container {
  width: 100%;
  max-width: 680px;
  grid-column-gap: 68px;
  grid-row-gap: 68px;
  flex-direction: column;
  display: flex;
}

.lead {
  max-width: 580px;
  color: #fff;
  margin-bottom: 0;
  line-height: 26px;
}

.button {
  color: #fff;
  background-color: #1c1c1c;
  border: 1px solid #363636;
  border-right-color: #353535;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  transition: all 40ms;
}

.button:hover {
  background-color: #202020;
  box-shadow: 0 2px 4px rgba(8, 8, 8, 0.82);
}

.fold-content {
  margin-bottom: 48px;
}

.mini-label-white {
  color: #fff;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-top: 24px;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
}

.nav-link-image {
  width: 24px;
  opacity: 0.48;
  filter: brightness(0) invert(1);
}

.nav-link-container {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  color: #a8a8a8;
  text-transform: capitalize;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  display: flex;
}

.nav-link-container.w--current {
  color: #fff;
  background-color: #2b2b2b;
  border-color: #353535;
}

.projects-container {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  align-items: stretch;
  text-decoration: none;
  display: flex;
}

.single-projects-category {
  display: flex;
}

.projects-category-image-container {
  min-height: 180px;
  min-width: 180px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(53, 53, 53, 0.12);
  border: 1px #000;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.24), 0 -1px 1px rgba(255, 255, 255, 0.24);
}

.projects-category-image-container.devops-img {
  background-image: none;
  background-position: 0 0;
}

.single-projects-content {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.projects-section {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  display: flex;
}

.tech-tools-container {
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
}

.back-nav-container {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  align-items: center;
  padding-bottom: 0;
  font-weight: 500;
  display: flex;
}

.back-nav-img {
  width: 18px;
}

.back-nav-button {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  margin-top: -12px;
  padding: 12px 16px;
  text-decoration: none;
  transition: all 0.12s;
  display: flex;
}

.back-nav-button:hover {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(8, 8, 8, 0.24);
}

.project-desc {
  color: #a8a8a8;
  line-height: 24px;
}

.project-desc.project-desc-list {
  margin-left: -24px;
}

.content-container {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  display: flex;
}

.projects-category-image {
  width: 82px;
  height: 82px;
}

@media screen and (max-width: 991px) {
  .content {
    flex-direction: column;
  }

  .sidebar {
    height: auto;
    max-width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 28px;
  }

  .nav-content {
    height: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .fold-content {
    margin-bottom: 32px;
  }

  .nav-link-container {
    background-color: #1c1c1c;
    border-radius: 0;
    padding: 18px 28px 18px 32px;
  }

  .nav-link-container:active {
    color: #fff;
    background-color: #2b2b2b;
  }

  .navbar-icon {
    width: 32px;
    height: 32px;
    color: #fff;
    font-size: 32px;
  }

  .navbar-icon-button {
    padding: 12px;
    transition: all 0.24s;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 54px;
    line-height: 64px;
  }

  h4 {
    font-size: 32px;
    font-weight: 300;
    line-height: 48px;
  }

  .sidebar {
    padding-left: 24px;
    padding-right: 18px;
  }

  .main {
    padding-left: 28px;
    padding-right: 28px;
  }

  .container {
    grid-column-gap: 68px;
    grid-row-gap: 68px;
  }

  .fold-content {
    margin-bottom: 24px;
  }

  .nav-link-container {
    padding-left: 24px;
    padding-right: 18px;
  }

  .projects-container {
    flex-direction: column;
  }

  .projects-category-image-container {
    min-height: 124px;
    min-width: 124px;
    margin-bottom: -42px;
    position: relative;
  }

  .single-projects-content {
    position: relative;
    top: 1.75rem;
  }

  .projects-section {
    grid-column-gap: 68px;
    grid-row-gap: 68px;
  }

  .projects-category-image {
    width: 64px;
    height: 64px;
  }
}

/* ============================================
   ANDROID DEVELOPER THEME STYLES
   ============================================ */

:root {
  --android-green: #3DDC84;
  --android-green-dark: #2ECC71;
  --android-gradient: linear-gradient(135deg, #3DDC84 0%, #2ECC71 100%);
  --kotlin-purple: #7F52FF;
  --compose-blue: #4285F4;
}

/* Android Gradient Container */
.projects-category-image-container.android-gradient {
  background: linear-gradient(135deg, rgba(61, 220, 132, 0.15) 0%, rgba(46, 204, 113, 0.1) 100%);
  border: 1px solid rgba(61, 220, 132, 0.3);
}

.projects-category-image-container.android-gradient img {
  color: var(--android-green);
  filter: brightness(0) saturate(100%) invert(76%) sepia(46%) saturate(477%) hue-rotate(98deg) brightness(93%) contrast(88%);
}

/* Blog Gradient Container */
.projects-category-image-container.blog-gradient {
  background: linear-gradient(135deg, rgba(255, 103, 25, 0.15) 0%, rgba(255, 140, 66, 0.1) 100%);
  border: 1px solid rgba(255, 103, 25, 0.3);
}

.projects-category-image-container.blog-gradient img {
  filter: brightness(0) saturate(100%) invert(52%) sepia(83%) saturate(1195%) hue-rotate(359deg) brightness(101%) contrast(105%);
}

/* Skills Gradient Container */
.projects-category-image-container.skills-gradient {
  background: linear-gradient(135deg, rgba(127, 82, 255, 0.15) 0%, rgba(66, 133, 244, 0.1) 100%);
  border: 1px solid rgba(127, 82, 255, 0.3);
}

.projects-category-image-container.skills-gradient img {
  filter: brightness(0) saturate(100%) invert(42%) sepia(93%) saturate(1352%) hue-rotate(227deg) brightness(99%) contrast(105%);
}

/* Button Variants */
.cta-buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.button.button-outline {
  background-color: transparent;
  border: 1px solid var(--android-green);
  color: var(--android-green);
}

.button.button-outline:hover {
  background-color: rgba(61, 220, 132, 0.1);
}

/* Page Subtitle */
.page-subtitle {
  color: #a8a8a8;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 32px;
}

/* Skills Grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

.skill-category {
  background-color: rgba(53, 53, 53, 0.2);
  border: 1px solid #353535;
  border-radius: 12px;
  padding: 20px;
  transition: all 0.2s ease;
}

.skill-category:hover {
  border-color: rgba(61, 220, 132, 0.3);
  background-color: rgba(53, 53, 53, 0.3);
}

.skill-category h4 {
  margin-bottom: 16px;
  font-size: 16px;
  color: #fff;
}

.skill-category .chips-container {
  margin-top: 0;
}

/* Enhanced Nav Link Hover */
.nav-link-container:hover {
  color: #fff;
  background-color: rgba(43, 43, 43, 0.5);
}

.nav-link-container:hover .nav-link-image {
  opacity: 0.8;
}

/* Smooth Transitions */
.nav-link-container,
.button,
.projects-container,
.skill-category {
  transition: all 0.2s ease;
}

.projects-container:hover {
  transform: translateX(4px);
}

.projects-container:hover h4 {
  color: var(--android-green);
}

/* Mobile Responsiveness for New Elements */
@media screen and (max-width: 991px) {
  .social-links {
    display: none;
  }

  .cta-buttons {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}

/* Contact Gradient Container */
.projects-category-image-container.contact-gradient {
  background: linear-gradient(135deg, rgba(78, 205, 196, 0.15) 0%, rgba(63, 186, 178, 0.1) 100%);
  border: 1px solid rgba(78, 205, 196, 0.3);
}

.projects-category-image-container.contact-gradient img {
  filter: brightness(0) saturate(100%) invert(73%) sepia(42%) saturate(529%) hue-rotate(127deg) brightness(94%) contrast(88%);
}

/* Section Summary for Home Page */
.section-summary {
  color: #a8a8a8;
  font-size: 14px;
  line-height: 22px;
  margin: 8px 0 0 0;
}

/* Video/YouTube Gradient Container */
.projects-category-image-container.video-gradient {
  background: linear-gradient(135deg, rgba(255, 0, 0, 0.15) 0%, rgba(200, 0, 0, 0.1) 100%);
  border: 1px solid rgba(255, 0, 0, 0.3);
}

.projects-category-image-container.video-gradient img {
  filter: brightness(0) saturate(100%) invert(21%) sepia(100%) saturate(7500%) hue-rotate(359deg) brightness(95%) contrast(115%);
}